{% extends 'base.html'%}


{% block body %}

<div class="container">
    <div class="row">
        <h4 class ='text-center'>Place Order</h4><hr>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        
                    </tr>
                </thead>
            <tbody>
                    {% for cp in cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.product}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                       
                    </tr>
                      
                    {% endfor %}
                     <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>Rs. {{cart.total}}</th>
                        
                    
                    </tr>
                   
            </tbody>
            </table>
        </div>
        <div class="col-md-6">
        <a href="{% url 'my_cart'%}"><button class="btn btn-outline-danger mt-3">Back</button></a>
            <h2 class="fw-bold"> Checkout Form</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Place order</button>
                
            </form>
        </div>
    </div>
</div>




{% endblock body %}





