{% extends 'base.html' %}

{% block body %}

<h1 class="text-center">
    Search page
</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Search Results...{{request.GET.keyword}}</h3>

        </div>

    </div>
    <hr>
    {% for re in result %}
    <div class="row">
       
        <div class="col-md-4">
           
            <img src="{{re.image.url}}" alt="" class="img-fluid mt-3" width="150px" height="200px">
        </div>
        <div class="col-md-8">
            <h5><a href="{% url 'product_details' re.slug%}">{{re.product_name}}</h5></a>
            <p>{{re.discriptions}}</p>
        </div>
           
       
    </div>
    {% endfor %}
</div>

{% endblock body %}



